@use '../../app/styles/mixins' as mixins;
@use '../../app/styles/media' as media;

.product_list{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;


    @include media.desktop{
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;

    }

    @include media.tablet{
        grid-template-columns: repeat(3, 1fr);

    }

    @include media.mobile{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    @include media.mobile-small {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;

    }


    

    &__button {
        grid-column:1 / -1;
    }

    &__loader {
        grid-column:1 / -1;

    }
}
