@use '../../app/styles/mixins' as mixins;
@use '../../app/styles/media' as media;

.product_list{
    height: calc(100svh - 130px);
    width: 100%;
    border-radius: 20px;
    display: grid;
    justify-items: center;
    align-items: start;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding-block: 20px;
    padding-inline: 40px;

    overflow-y: scroll;
  
    &::-webkit-scrollbar {
        width: 5px; /* Ширина всего элемента навигации */
      }
      
      &::-webkit-scrollbar-track {
        background: transparent; /* Цвет дорожки */
      }
      
      &::-webkit-scrollbar-thumb {
        background-color: var(--color-dark-alt); /* Цвет бегунка */
        border-radius: 20px; /* Округление бегунка */
      }


      @include media.desktop-above{
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        padding-block: 20px;
        padding-inline: 5px;

    }


    @include media.desktop{
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding-block: 20px;
        padding-inline: 10px;

    }

    @include media.tablet{
        grid-template-columns: repeat(2, 1fr);

    }

    @include media.mobile{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding-block: 10px;
    }

    @include media.mobile-small {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        padding-inline: 10px;


    }


    

    &__button {
        grid-column:1 / -1;
    }

    &__loader {
        grid-column:1 / -1;

    }
}
