@use '../../app/styles/media' as media;

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x)*2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);

    @include media.desktop-above {
        max-width: 1440px;
        padding-inline: 30px;
      }

    @include media.desktop {
        max-width: clamp(315px, 93vw, 1280px);
        padding-inline: 20px;
      }

    @include media.tablet {
        max-width: clamp(315px, 95vw, 768px);
        padding-inline: 10px;
      }

    @include media.mobile {
        max-width: 425px;
        padding-inline: 5px;
    
      }

      @include media.mobile-small {
        max-width: 320px;
        padding-inline: 5px;
    
      }


}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

.hidden-mobile {
	@include mobile {
		display: none !important;
	}
}

.visible-mobile {
	@include mobile-above {
		display: none !important;
	}
}

.hidden-tablet {
  @include tablet {
		display: none !important;

  }
}