@use '../../app/styles/media' as media;
:root {
  --color-dark: #1f2937;
  --color-dark-alt: #4b5563;
  --color-light: #ffffff;
  --color-accent: #0FF7FD;

  --font-family-base: 'Work-Sans', sans-serif;
  --container-width: 1440px;
  --container-padding-x: 20px;
  --transition-duration: 0.2s;

  @include media.tablet {
    --container-padding-x: 10px;
  }

  @include media.desktop {
    --container-width: 1040px
  }

  @include media.tablet {
    --container-width: 768px
  }

  @include media.mobile {
    --container-padding-x: 5px;
    --container-width: 420px

  }

  @include media.mobile-small {
    --container-padding-x: 5px;
    --container-width: 320px

  }
}
