@use '../../app/styles/mixins'  as mixins;
@use '../../app/styles/media'  as media;

.sort {

    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    width: 100%;
    background-color: transparent;



    &__icon_button {
        @include mixins.reset-button;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    &__arrow{
        width: 20px;
        height: 20px;
        cursor: pointer;
        fill: var(--color-dark-alt);

        &:hover{
            fill: var(--color-dark);
        }

        &_down {
            transform: rotate(180deg);
        }
    }




}