@use '../../app/styles/mixins' as mixins;
@use '../../app/styles/media' as media;


.counter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    background-color: var(--color-dark);
    color: var(--color-light);
    padding-inline: 10px;
    border-radius: 20px;



    &__button{
        @include mixins.reset-button;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        cursor: pointer;
        color: var(--color-light);
        padding: 5px;

        &:disabled{
            color: var(--color-dark);
            cursor: auto;
        }
    }

    &__number {
        width: 20px;
        text-align: center;
    }

}