.layout {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: start;

  height: 100svh;
  width: 100vw;
  background-color: var(--color-light);

  &__header {
    background-color: white;
    min-height: 72px;
    display: flex;    
    justify-content: center;
    align-items: center;

    width:100vw;

  }

  &__content {
    flex-grow: 1;
  }
}
