@use '../../../app/styles/media' as media;

.layout {

  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: start;
  min-height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  overflow-y: scroll;
  background-color: #f5f5f5;

  &__header {
    box-sizing: border-box;
    background-color: white;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    position: sticky;
    top: 0;
    z-index: 90;
    box-shadow: 0px 5px 15px -15px var(--color-dark-alt);

    // border: 1px solid #dddbdb;


  }

  &__content {
    padding-top: 20px;
    padding-bottom: 20px;
    flex-grow: 1;
    width: 100vw;
    // overflow-x: hidden;
    max-height: 100%;



    @include media.tablet {
      padding-top: 5px;
      padding-bottom: 5px;
    }

  }
}