@use '../../../app/styles/media' as media;

.layout {

  display: flex;
  flex-direction: column;
  justify-content: start;
  position: fixed;
  height: 100%;
  width: 100vw;
  overflow-x: hidden;

  background-color: #f5f5f5;

  &::-webkit-scrollbar {
    width: 8px; /* Ширина всего элемента навигации */
  }
  
  &::-webkit-scrollbar-track {
    background: transparent; /* Цвет дорожки */
    border-radius: 20px;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-dark-alt); /* Цвет бегунка */
    border-radius: 20px; /* Округление бегунка */
  }

  &__header {
    box-sizing: border-box;
    background-color: white;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    position: sticky;
    top: 0;
    z-index: 90;
    box-shadow: 0px 5px 15px -15px var(--color-dark-alt);

    // border: 1px solid #dddbdb;


  }

  &__content {
    padding-top: 20px;
    padding-bottom: 20px;
    flex-grow: 1;
    width: 100vw;




    @include media.tablet {
      padding-top: 5px;
      padding-bottom: 5px;
    }

  }
}