.product_card{
    display: flex;
    flex-direction: column;
    gap: 12px;
    cursor: pointer;
    max-width: 293px;
    background-color: white;
    padding-block: 10px;
    border-radius: 20px;



    &__image {
        background-color: white;
        border: none;
        transition: transform 0.2s ease-in-out;
        min-width: 293px;
        object-fit: contain;
        object-position: 50% 50%;
        border-radius: 20px;


        &:hover {
            transform: scale(1.02);
            box-shadow: 0 0 30px -15px var(--color-dark-alt);        }
    }

    &__header{
        padding-inline: 10px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    &__title {
        color: var(--color-dark-alt);
        display: flex;
        justify-content: space-between;
        align-items: start;
        gap: 10px;
        min-height: 35px;
        background-color: white;

        >p{
            margin: 0;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }

    }

   

    &__like {
        fill: var(--color-dark-alt);
        width: 20px;
        cursor: pointer;
        flex-shrink: 0;


        &:hover {
            fill: var(--color-dark);
        }
    }
}