@use '../../app/styles/media' as media;
@use '../../app/styles/mixins' as mixins;



.shop {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    @include media.desktop{
        gap: 20px;
    }

    @include media.mobile{
        flex-direction: column;
        justify-content: start;
    }


    &__content{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: start;
        align-items: center;
        gap: 0px;


    }

    &__loader{
        margin-top: 150px;
       
    }

    &__not_found {
        padding-top: 150px;
        padding-left: 50px;
        width: 100%;
        text-align: center;
        color: var(--color-dark);
        font-weight: 700;
        text-transform: uppercase;
        font-size: 30px;

        background: radial-gradient(circle, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%);
        background-size: 200% auto;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textflow 3s linear infinite;


        @keyframes textflow {
            from {background-position: 0% center}         
            to {background-position: 200% center}
          }
    }



}

.overlay {
    @include mixins.abs-center;
    z-index: 90;
    width: 100vw;
    height:100vh; /* Надёжный вариант в качестве резервного */
    height: -webkit-fill-available; /* Специально для Safari */
    min-height: calc(var(--vh, 1vh) * 100);


    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}







