@use '../../app/styles/mixins' as mixins;
@use '../../app/styles/media' as media;

.button {
    @include mixins.reset-button;

    width: fit-content;
    display: flex;
    align-items: center;
    padding-inline: 16px;

    @include media.mobile{
        padding-inline: 0px;

    }
}

.burger {
    height: 20px;
    color: var(--color-dark-alt);

    @include media.hover {
        color: var(--color-dark)
    }

    
}

