.icons {
    display: flex;
    justify-content: end;
    gap: 12px;
    padding-inline: 15px;
}

.link {
    position: relative;

    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:active {
        transform: scale(1.1);
    }
    
}

.cart_image {
        fill: var(--color-dark-alt);
        height: 20px;

        &:hover {
            fill: var(--color-dark);
            transition-duration:var(--transition-duration);
        }

        &__badge {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 15px;
            background-color:#ff7043;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            color: white;
            font-size: 10px;
            

        }
    }

    