.icons {
    display: flex;
    justify-content: end;
    gap: 12px;
    padding-inline: 16px;
}

.link {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.image {
        fill: var(--color-dark-alt);

        &:hover {
            fill: var(--color-dark);
            transition-duration:var(--transition-duration);
        }
    }
    