@use '../../../app/styles/mixins' as mixins;
@use  '../../../app/styles/media' as media;


.logo{
    @include mixins.reset-link;
    user-select: none;



    &:active {
        transform: scale(1.1);
    }





    &__text {
        width: fit-content;
        color: rgb(31, 41, 55);
        font-weight: 700;
        font-size: 25px;
        line-height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;





        
    
        &::before{
            content:url('../../assets/icons/logo.svg?react');
            display: inline-block;
            height: 24px;
            width: 24px;
            border-radius: 6px;
            



  

      
        }
    }

}





