@use '../../../app/styles/mixins' as mixins;
@use '../../../app/styles/media'  as media;

.product_card{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    // width: clamp(195px,16vw, 240px);
    background-color: white;
    border-radius: 20px;
    color: var(--color-dark-alt);
    gap: 0;

    

    @include media.mobile-small {
        flex-direction: row;
        max-width: 290px;
    }


    @include media.hover {
        @include media.tablet-above{
            box-shadow: 0 0 30px -15px var(--color-dark-alt);

        }
    }

    &:active{
        transition: 0.1s ease-in-out;
        box-shadow: 0 0 30px -15px var(--color-dark-alt);

    }

    &__image_wrapper{
        height: 195px;
        width: 195px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 20px;
        margin: 0 auto;

        
    @include media.mobile-small {
        width: 120px;
        height: 120px;
        padding: 5px;
    }
    }

    &__image {
        background-color: white;
        border: none;
        transition: transform 0.2s ease-in-out;
        object-fit: contain;
        height: 100%;
        width: 100%;
        object-position: 50% 50%;
        transform: scale(0.85);
        border-radius: 20px;

        @include media.hover {
            @include media.tablet-above{
                transform: scale(1);
            }
        }

    }

    &__header{
        width: clamp(195px,16vw, 240px);
        height: 90px;
        padding-inline: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-bottom: 10px;

        
    @include media.mobile-small {
        height: 120px;
       padding-inline:10px;
       padding-block: 10px;
       justify-content: space-between;
    }
    }
    
    &__title {
        padding: 0;
        margin: 0;
        color: var(--color-dark-alt);
        display: flex;
        justify-content: space-between;
        align-items: start;
        gap: 10px;
        min-height: 41px;
        background-color: white;
        

        >p{
            min-width: 0;
            padding: 0;
            margin: 0;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }

    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 28px;
    }

    &__price {
        padding: 0;
        margin: 0;
        font-weight: 500;
    }

   

    &__action {
        cursor: pointer;
        flex-shrink: 0;


    }
}

.selected {
    &>*div>p{
        color: var(--color-dark);
        font-weight: 700;

    }
    
}